<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Generator</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <form id="topic-form">
            <input type="text" id="topic" name="topic" placeholder="Enter a course topic">
            <button type="submit">Generate Course</button>
        </form>

        <div class="columns">
            <div class="column" id="topics-container">
                <div id="main-topics"></div>
            </div>

            <div class="column" id="subtopics-container">
                <div id="main-subtopics"></div>
            </div>

            <div class="column" id="content-container">
                <div id="content-section"></div>
            </div>
        </div>
    </div>

    <script src="/script.js"></script>
</body>
</html>
