body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: #555;
    margin-top: 0;
}

h3 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.course-container {
    display: flex;
}

.outlines {
    display: flex;
}

.outline-container {
    width: 100%;
    /* background: #fff; */
    padding: 10px;
    /* border: 1px solid #ddd; */
    /* border-radius: 5px; */
    overflow-y: auto;
    height: 600px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.outline-container::-webkit-scrollbar {
    display: none;
}

.outline-item {
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.outline-item:hover {
    background-color: #e9e9e9;
}

.outline-number {
    font-weight: bold;
    margin-right: 10px;
}

.content-container {
    width: 70%;
    padding: 20px;
}

.content-section {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error {
    color: red;
    text-align: center;
}


/* Basic styles for the container and columns */
.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.column {
    flex: 1;
    min-width: 300px; /* Ensures columns are not too narrow on larger screens */
    box-sizing: border-box;
}

/* Styles for horizontal scroll on smaller screens */
.horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
}

/* Individual items in horizontal scroll */
.horizontal-scroll .item {
    display: inline-block;
    margin-right: 20px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .columns {
        display: block;
    }
    
    .column {
        width: 100%;
        margin-bottom: 20px;
    }

    .horizontal-scroll {
        overflow-x: auto;
        display: flex;
    }
}